SECRET_KEY=your-very-strong-secret-key-here
DEBUG=False
ALLOWED_HOSTS=crm.hrccosmos.com,www.crm.hrccosmos.com
DATABASE_URL=sqlite:////var/www/hrc-crm-backend/db.sqlite3
CORS_ALLOWED_ORIGINS=https://crm.hrccosmos.com
